/1.py
/__pycache__
/analyze_new_data.py
/arange_biocard.py
/augmentation.py
/biocard_angle.py
/calc_tkd.py
/check_new_data.ipynb
/data
/datasets_plot.ipynb
/diff.nii.gz
/drop
/drop_pix.py
/g.nii.gz
/histo_subs.py
/histos.jpg
/orig.nii.gz
/p.nii.gz
/pdata.py
/save_dir
/save_dir3
/save_patches.py
/show_images.ipynb
/train_sup.py